<% if parameter.nested? %>
  <%# Nested param %>
  <tr>
    <td><strong><%= parameter.name %></strong></td>
    <td>nested attributes below</td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <% parameter.parameters.each do |p| %>
    <%= render :partial => 'easy_api_doc/documentation/parameter', :locals => {:parameter => p} %>
  <% end %>
<% else %>
  <%# Standard parameter %>
  <tr>
    <td><%= raw('&#187; ' * parameter.scope_level) %> <%= parameter.name %></td>
    <td>
      <%= text_field_tag(parameter.field_name, (parameter['example'] || parameter['default']), :class => 'input') %>
      <%= link_to('add another item', '#', :class => 'append-fields') if parameter['type'] == 'array' %><br />
    </td>
    <td><%= link_to 'disable', '#', :class => 'disable-field-toggle' %></td>
    <td><%= parameter['type'] %></td>
    <td><%= parameter['default'] %></td>
    <td><%= parameter['required'] %></td>
    <td><%= parameter['info'] %></td>
  </tr>
<% end %>
